 

{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<body class="bg-dark"> 
    <section class="form_create_booking_section">
        <div class="container bg-dark form_container">
            <form method="post" action="{% url 'create_booking' %}" autocomplete="off" id="create_booking_form_id">
                        {% csrf_token %}
                        <div class="row justify-content-center text-center form_row content-center">
                            <div class="col-md-12 text-center">
                                <h2>Create Booking</h2>
                            </div>
                            <div class="col-md-12 text-center">
                                <label for="id_meal_time">Meal Time:</label>
                                <select id="id_meal_time" name="meal_time" >
                                    {% for value, label in form.fields.meal_time.choices %}
                                            <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 text-center">
                                <label for="id_special_occasion">Special Occasion:</label>
                                <select id="id_special_occasion" name="special_occasion">
                                    {% for value_occ, label_occ in form.fields.special_occasion.choices %}
                                            <option value="{{ value_occ }}">{{ label_occ }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 text-center">
                                <label for="id_meal_day">Meal Day:</label>
                                {{ form.meal_day }}
                            </div>
                            <div class="col-md-12 text-center">
                                <label for="id_number_of_guests">Guests (max 6):</label>
                                {{ form.number_of_guests }}
                            </div>
                            <div class="col-md-12 text-center">
                                <label for="id_customer_name">Customer Name:</label>
                                {{ form.customer_name }}
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light" data-mdb-ripple-color="dark">Submit</button>
                            </div>
                        </div>
            </form>
        </div>
    </section>
    <script src="/static/js/script.js"></script>
</body> 



{% endblock %}


<!-- Include jQuery UI CSS -->

<!-- Initialize the date picker -->
