 

{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<body class="bg-dark"> 

    <section class="section-padding bg-dark text-white">
        <form method="post" action="{% url 'create_booking' %}">
            {% csrf_token %}
            <h2>Create booking check</h2>
            <label for="id_special_occasion">Special Occasion:</label>
            {{ form.special_occasion }}
            <label for="id_meal_day">Meal Dayy:</label>
            <!--Below is for meal picker
            {{ form.meal_day }}
            --Above is for meal picker-->

            <br>
            <label for="id_meal_time">Meal Time:</label>
            <select id="id_meal_time" name="meal_time">
                {% for value, label in form.fields.meal_time.choices %}
                    {% if not value in booked_times %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% else %}
                        <option value="{{ value }}" style="color: red;" disabled>{{ label }} (Booked)</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <label for="id_number_of_guests">Number of Guests:</label>
            {{ form.number_of_guests }}
            <label for="id_customer_name">Customer Name:</label>
            {{ form.customer_name }}
            <label for="id_customer_name">Is booked:</label>
            {{ form.is_booked }}


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
        <div class="container bg-dark">

            <form method="post" action="{% url 'create_booking' %}">
                        {% csrf_token %}
                        <h2>Create Booking</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_special_occasion">Special Occasion:</label>
                                {{ form.special_occasion }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_meal_day">Meal Day:</label>
                                {{ form.meal_day }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_meal_time">Meal Time:</label>
                                <select id="id_meal_time" name="meal_time">
                                    {% for value, label in form.fields.meal_time.choices %}
                                        {% if not value in booked_times %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% else %}
                                            <option value="{{ value }}" style="color: red;" disabled>{{ label }} (Booked)</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="id_number_of_guests">Number of Guests:</label>
                                {{ form.number_of_guests }}
                            </div>
                            <div class="col-md-12">
                                <label for="id_customer_name">Customer Name:</label>
                                {{ form.customer_name }}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light" data-mdb-ripple-color="dark">Submit</button>
                            </div>
                        </div>
            </form>
        </div>
</body> 



<script>
    $(document).ready(function() {
        // Initialize date picker for meal_day field
        $('#id_meal_day').datepicker();


    });
</script>
{% endblock %}


<!-- Include jQuery UI CSS -->

<!-- Initialize the date picker -->
