{% extends "base.html" %}

{% block content %}
 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg bg-dark section-padding-menu">
    <div class="container" data-aos="fade-up">

      <div class="section-title-menu text-white text-center ">
        <h2>Menu</h2>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        <div class="section-title-menu text-warning text-center ">
            <h4>Starters</h4>
        </div>
        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Caprese Salad</a><span>$8.99</span>
          </div>
          <div class="menu-desc">
            Fresh tomatoes, mozzarella, basil, balsamic glaze
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Grilled Shrimp Skewers</a><span>$10.99</span>
          </div>
          <div class="menu-desc">
            Succulent shrimp, garlic herb marinade, lemon aioli
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Spinach Artichoke Dip</a><span>$7.99</span>
          </div>
          <div class="menu-desc">
            Creamy spinach artichoke dip, tortilla chips
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Bacon-Wrapped Jalapeno Poppers</a><span>$9.99</span>
          </div>
          <div class="menu-desc">
            Spicy jalapenos, cheese, crispy bacon
          </div>
        </div>


        <div class="section-title-menu text-warning text-center ">
            <h4>Mains</h4>
        </div>
        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Ribeye Steak</a><span>$24.99</span>
          </div>
          <div class="menu-desc">
            Juicy ribeye steak, house spices
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Grilled Salmon</a><span>$22.99</span>
          </div>
          <div class="menu-desc">
            Grilled salmon fillet, lemon pepper seasoning
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">BBQ Baby Back Ribs</a><span>$19.99</span>
          </div>
          <div class="menu-desc">
            Tender baby back ribs, barbecue sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Chicken Alfredo Pasta</a><span>$18.99</span>
          </div>
          <div class="menu-desc">
            Grilled chicken, fettuccine Alfredo, Parmesan
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Vegetable Stir-Fry</a><span>$18.99</span>
          </div>
          <div class="menu-desc">
            Mixed vegetables, ginger-soy sauce, rice
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Portobello Mushroom Burger</a><span>$15.99</span>
          </div>
          <div class="menu-desc">
            Grilled portobello mushroom, Swiss cheese, aioli
          </div>
        </div>

        <div class="section-title-menu text-warning text-center ">
            <h4>Desserts</h4>
        </div>
        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">New York Cheesecake</a><span>$8.99</span>
          </div>
          <div class="menu-desc">
            Creamy cheesecake, strawberry compote
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Chocolate Lava Cake</a><span>$7.99</span>
          </div>
          <div class="menu-desc">
            Moist chocolate cake, molten center
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Classic Tiramisu</a><span>$9.99</span>
          </div>
          <div class="menu-desc">
            Espresso-soaked ladyfingers, mascarpone
          </div>
        </div>

        <div class="col-lg-6 menu-item">
          <div class="menu-dishes">
            <a href="#" onclick="return false;">Key Lime Pie</a><span>$7.49</span>
          </div>
          <div class="menu-desc">
            Tangy key lime filling, graham cracker crust
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Menu Section -->{% endblock %}

